<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by4">
        <img :src="course.get_image" alt="placeholder" style="width: 100%; height: 200px; display: block">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="is-size-5" style="height: 50px">{{ course.title }}</p>
        </div>
      </div>
      <div class="content">
        <p style="height: 100px">{{ truncate(course.short_description, 120, '...') }}</p>
        <router-link :to="{name: 'Course', params: {slug: course.slug}}">More</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CourseItem",
  props: ['course'],
  methods: {
    truncate(text, length, suffix) {
      if (text.length > length) {
        return text.substring(0, length) + suffix;
      }
      return text;
    },
  }
}
</script>

<style scoped>
</style>