<template>
  <div class="about">
    <section class="section">
      <div class="columns is-multiline">
        <!--    START-->
        <div class="column is-4">
          <div class="column is-12">
            <form @submit.prevent="submitForm">

              <div class="field">
                <label>First name</label>
                <div class="control">
                  <input type="text" class="input" v-model="user.first_name">
                </div>
              </div>

              <div class="field">
                <label>Last name</label>
                <div class="control">
                  <input type="text" class="input" v-model="user.last_name">
                </div>
              </div>

              <div class="field">
                <label>Email</label>
                <div class="control">
                  <input type="email" class="input" v-model="user.email" placeholder="kacukva@gmail.com">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <button class="button is-success">Update</button>
                </div>
              </div>
            </form>
          </div>
          <!--          END-->
        </div>
        <div v-if="courses.length" class="column is-12">
          <h2 class="subtitle is-size-3">Ative courses</h2>
        </div>
        <div v-for="course in courses" v-bind:key="course.id" class="column is-4">
          <course-item :course="course"/>
        </div>
        <hr>
        <!--        COMPLETED COURSES-->
        <div v-if="completedCourses.length" class="column is-12">
          <h2 class="subtitle is-size-3">Completed courses</h2>
        </div>
        <div v-for="course in completedCourses" v-bind:key="course.id" class="column is-4">
          <course-item :course="course"/>
        </div>
      </div>
      <button @click="logout()" class="button is-danger">Log out</button>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import CourseItem from "@/components/CourseItem.vue";

export default {
  data() {
    return {
      courses: [],
      completedCourses: [],
      user: [],
    }
  },
  components: {
    CourseItem
  },
  mounted() {
    axios.get('api/v1/activities/get_active_courses/').then(response => {
      this.courses = response.data
    })
    axios.get('api/v1/activities/get_completed_courses/').then(response => {
      this.completedCourses = response.data
    })
    // axios.get('api/v1/activities/get_user_information/').then(response => {
    //   this.user = response.data
    // })
  },
  methods: {
    async logout() {
      await axios.post('api/v1/token/logout/')
      axios.defaults.headers.common['Authorization'] = ""
      localStorage.removeItem('token')
      this.$store.commit('removeToken')
      this.$router.push('/')
    }
  }
}
</script>