<template>
  <div class="courses">

    <div class="hero is-link">
      <div class="hero-body has-text-centered">
        <h1 class="title">{{ course.title }}</h1>
      </div>
    </div>

    <section class="section">
      <div class="container">
        <div class="columns content">
          <div class="column is-2">
            <aside class="menu">
              <p class="menu-label">
                lessons
              </p>
              <ul class="menu-list" style="list-style: none">
                <li>
                  <ul style="list-style: none">
                    <li v-for="lesson in lessons" v-bind:key="lesson.id">
                      <a @click="setActiveLesson(lesson)"
                         :class="{'is-active': activeLesson && activeLesson.id === lesson.id}">{{ lesson.title }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </aside>
          </div>
          <div class="column is-10">
            <!--   START   -->
            <div v-if="activeLesson" class="tabs">
              <span class="tag is-warning" style="cursor:pointer" v-if="activity.status==='started'"
                    @click="markAsDone">
                Started (mark as Done)
              </span>
              <span class="tag is-success" v-else>
                Done
              </span>
              <ul>
                <li @click="setActiveTab('theory')" :class="{'is-active': activeTab === 'theory'}"><a>Theory</a></li>
                <li @click="setActiveTab('video')" :class="{'is-active': activeTab === 'video'}"><a>Video</a></li>
                <li @click="setActiveTab('hw')" :class="{'is-active': activeTab === 'hw'}"><a>Home work</a></li>
                <li @click="setActiveTab('comments')" :class="{'is-active': activeTab === 'comments'}"><a>Comments</a>
                </li>
              </ul>
            </div>
            <!--   END   -->
            <template v-if="$store.state.user.isAuthenticated">
              <template v-if="activeTab==='video'">
                <div class="video-container">
                  <iframe
                      :src="'https://www.youtube.com/embed/' + activeLesson.youtube_id"
                      width="100%"
                      height="400"
                      allow="accelerometer; autoplay; encrypted-media;
                  gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </template>


              <template v-if="activeLesson && activeTab==='theory'">
                <div class="content" v-html="activeLesson.long_description"></div>
              </template>
              <template v-if="activeLesson && activeTab==='hw'">
                <div class="content" v-html="activeLesson.home_work"></div>
              </template>
              <template v-if="activeTab==='comments'">
                <article class="media box" v-for="comment in comments" v-bind:key="comment.id">
                  <div class="media-content">
                    <div class="content">
                      <p><strong>{{ comment.name }} - </strong>{{ comment.created_at }}</p>
                      <p>{{ comment.content }}</p>
                    </div>
                  </div>
                </article>
                <br>
                <form @submit.prevent="submitComment()">
                  <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                      <input type="text" class="input" v-model="comment.name">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Content</label>
                    <div class="control">
                      <textarea class="textarea" v-model="comment.content"></textarea>
                    </div>
                  </div>
                  <div class="notification is-danger" v-for="error in errors" v-bind:key="error">
                    {{ error }}
                  </div>
                  <div class="field">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                  </div>
                </form>
              </template>
              <template v-if="!activeLesson">
                <div class="content" v-html="course.long_description"></div>
              </template>
            </template>
            <template v-else>
              <div class="content" v-html="activeLesson.long_description"></div>
            </template>
            <template v-else>
              <h2>Restricted access</h2>
            </template>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      activity: {},
      course: {},
      lessons: [],
      comments: [],
      activeLesson: null,
      activeTab: 'theory',
      errors: [],
      comment: {
        name: '',
        content: '',
      }
    }
  },
  async mounted() {
    const slug = this.$route.params.slug
    await axios.get(`/api/v1/courses/${slug}/`).then(response => {
      this.course = response.data.course
      this.lessons = response.data.lessons
    })
    document.title = this.course.title
  },
  methods: {
    submitComment() {
      this.errors = []
      if (this.comment.name === '') {
        this.errors.push('The username is missing!')
      }
      if (this.comment.content === '') {
        this.errors.push('The content is missing!')
      }
      if (!this.errors.length) {
        axios
            .post(`api/v1/courses/${this.course.slug}/${this.activeLesson.slug}`, this.comment)
            .then(response => {
              this.comment.name = ''
              this.comment.content = ''
              this.comments.push(response.data)
            })
      }
    },
    setActiveLesson(lesson) {
      this.activeLesson = lesson
      this.activeTab = 'theory'
      this.getComments()
      this.trackStarted()
    },
    trackStarted() {
      axios.post(`api/v1/activities/track_started/${this.$route.params.slug}/${this.activeLesson.slug}/`).then(response => {
        this.activity = response.data
      })
    },
    markAsDone() {
      axios.post(`api/v1/activities/mark_as_done/${this.$route.params.slug}/${this.activeLesson.slug}/`).then(response => {
        this.activity = response.data
      })
    },
    setActiveTab(tab) {
      this.activeTab = tab
      this.getComments()
    },
    getComments() {
      axios
          .get(`api/v1/courses/${this.course.slug}/${this.activeLesson.slug}/get-comments`)
          .then(response => {
            this.comments = response.data
          })
    }
  }
}
</script>