<template>
  <div class="courses">

    <section class="section">
      <div class="container">
        <div class="columns">

          <div class="column is-2">
            <aside class="menu">
              <p class="menu-label">Categories</p>
              <ul class="menu-list">
                <li>
                  <a v-bind:class="{'is-active': !activeCategory}" @click="setActiveCategory(null)">
                    All courses
                  </a>
                </li>
                <li v-for="category in categories"
                    v-bind:key="category.id"
                    @click="setActiveCategory(category)">
                  <a v-bind:class="{'is-active': (activeCategory && activeCategory.id === category.id)}">
                    {{ category.title }}
                  </a>
                </li>
              </ul>
            </aside>
          </div>

          <div class="column is-10">
            <div class="columns is-multiline">
              <div class="column is-4" v-for="course in courses" v-bind:key="course.id">
                <CourseItem :course="course"/>
              </div>
            </div>
            <div class="column is-12">
              <nav class="pagination">
                <a v-if="previous" @click="getCourses(page-1)" class="pagination-previous">Previous</a>
                <a v-if="next" @click="getCourses(page+1)" class="pagination-next">Next</a>
                <ul class="pagination-list">
                  <li v-for="p in totalPages">
                    <a @click="getCourses(p)" class="pagination-link" :class="{'is-current': p===page}">{{ p }}</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
import CourseItem from "@/components/CourseItem.vue";

export default {
  components: {CourseItem},
  data() {
    return {
      pub_key: '',
      stripe: null,
      courses: [],
      categories: [],
      activeCategory: null,
      page: 1,
      total: 0,
      totalPages: 0,
      itemsOnList: 3,
      previous: null,
      next: null
    }
  },
  methods: {
    async getPubKey() {
      await axios.get(`/stripe/get_stripe_pub_key`).then(response => {
        this.pub_key = response.data.pub_key
      }).catch(error => {
        console.log(error)
      })
    },
    setActiveCategory(category) {
      this.activeCategory = category
      this.getCourses()
    },
    getCourses(pageNumber = 1) {
      this.page = pageNumber
      let url = `/api/v1/courses/?page=${this.page}`
      if (this.activeCategory) {
        url += `&category_id=${this.activeCategory.id}`
      }
      axios.get(url).then(response => {
        this.courses = response.data.results
        this.total = response.data.count
        this.totalPages = Math.ceil(response.data.count / this.itemsOnList)
        this.previous = response.data.previous
        this.next = response.data.next
        console.log(response.data)
      })
    }
  },
  async mounted() {
    await this.getPubKey()
    this.stripe = Stripe(this.pub_key)
    await axios.get('/api/v1/courses/get_categories/').then(response => {
      this.categories = response.data
    })
    this.getCourses(this.page)
    document.title = 'Courses'
  },
}
</script>